
body
{
   
    font-size: 100%;
	text-align: justify;
	direction:rtl;    
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(images/backg.jpg); 
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Guttman-Aharoni;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    font-variant: normal;
    min-height: 700px;
    min-width: 700px;
}
    
    

text-box{
    
     background-color: #DD3636;
    color: #CF1818;
    
}


#loginBox1 
{
    
    
    text-align: right;
   
    height:500px;
	width:800px;
	box-shadow: 10px 10px 5px white;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: white;

	border: 1px solid #333399;
   
   
   
}

