@{
    ViewBag.Title = "LogoutOnSuccess";
    Layout = "~/Views/Shared/_AnonLayout.cshtml";<!--will show "_AnonLayout.cshtml" when user will logout-->
}

<h2>Success</h2>

your data has been saved successfully!